* {
    font-family: Inter;
}

.wrapper {
        min-width: 300px;
        width: 100%;
        max-width: 953px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto; 
         height: 28vh;
         position: relative;

    .container {
        height: 28vh;
       
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-shrink: 0.5;
        width: 100%;

        &__favorite {
            min-width: 50px;
            height: 100%;
            min-height: 270px;
            background-color: #766ed3;
            display: flex;
            flex-shrink: 1;
            justify-content: center;
            align-items: center;

            img{
                width: 30px;
                height: 30px;
            }
        }

        &__productInfo {
            display: flex;
            flex-shrink: 1;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            &__picture {
                max-width: 250px;
                height: 196px;

            }

            &__descr {
                height: 100%;
                max-width: 32%;
                display: flex;
                justify-content: center;
                flex-shrink: 1;
                flex-direction: column;
                gap: 1em;
                overflow: auto;
                margin-bottom: 1em;

                &::-webkit-scrollbar {
                    background-color: #e6e6e6;
                    border-radius: 10px; /* округлось бегунка */
            
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #d1d1d1; /* цвет бегунка */
                    border-radius: 10px;
                    border: 3px solid #d1d1d1;
                }
               
                h2 {
                    font-family: Inter;
                    font-weight: 600;
                    font-size: 1.2em;
                    margin-top: 3em;
                    color: #171313;
                }

                &__section > span:first-child {
                    font-family: Inter;
                    font-weight: 600;
                    padding-right: 10px;
                    
                    
                    
                }
                &__section{
                    
                    @media screen and(max-width:800px) {
                        &{
                            display: none;
                        }
                    }
                    @media screen and(max-width:900px) {
                        &{
                            overflow: auto;
                            
                        }
                    }
                }

                &__price {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    position: absolute;
                    bottom: 0;
                    left: 150px;
                    margin-bottom: 1em;

                    @media screen and(max-width:870px) {
                        &{
                            display: none;
                        }
                    }
                    @media screen and(min-width:871px) {
                        &{
                            display: flex;
                        }
                    }

                    img {
                        max-width: 26px;
                        max-height: 26px;
                        height: 100%;
                    }

                    span {
                        font-size: 1.5em;
                    }
                }
            }

            &__userCommunication {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                height: 100%;
                
              &__item{
                    display: flex;
                    gap: 1.5em;
                    margin-top: 2em;
                    height: 25px;
                    align-items: center;

                    img{
                      max-width: 25px;
                      max-height: 25px;
                    }
                     
                }

                @media screen and(max-width:700px) {
                    &{
                        display: none;
                    }
                }
                @media screen and(min-width:701px) {
                    &{
                        display: flex;
                    }
                }
            }
        }
    }

&__lowScreenPriceMenu{
        
        background-color: #766ed3;
        color: #ffffff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1.3em;
        @media screen and(max-width:870px) {
            &{
                display: flex;
            }
        }
        @media screen and(min-width:871px) {
            &{
                display: none;
            }
        }
        img {
            max-width: 26px;
            max-height: 26px;
            height: 100%;
        }

        span {
            font-size: 1.5em;
        }
}

    &__lowScreenComMennu{
        background-color: #766ed3;
        justify-content: center;
        color: #ffffff;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1.5em;

        
        section{
            display: flex;
            gap: 0.5em;
            align-items: center;

        }
        @media screen and(max-width:680px) {
            &{
                display: flex;
            }
        }
        @media screen and(min-width:681px) {
            &{
                display: none;
            }
        }
    }
}
.marginLeft2em {
    margin-left: 2em;
}

.d__flex__alignItems__center {
    display: flex;
    width: 165px;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
