@charset "UTF-8";
* {
  font-family: Inter;
}

.wrapper {
  min-width: 300px;
  width: 100%;
  max-width: 953px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 28vh;
  position: relative;
}

.wrapper .container {
  height: 28vh;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-shrink: 0.5;
  width: 100%;
}

.wrapper .container__favorite {
  min-width: 50px;
  height: 100%;
  min-height: 270px;
  background-color: #766ed3;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.wrapper .container__favorite img {
  width: 30px;
  height: 30px;
}

.wrapper .container__productInfo {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wrapper .container__productInfo__picture {
  max-width: 250px;
  height: 196px;
}

.wrapper .container__productInfo__descr {
  height: 100%;
  max-width: 32%;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  flex-direction: column;
  gap: 1em;
  overflow: auto;
  margin-bottom: 1em;
}

.wrapper .container__productInfo__descr::-webkit-scrollbar {
  background-color: #e6e6e6;
  border-radius: 10px;
  /* округлось бегунка */
  width: 8px;
}

.wrapper .container__productInfo__descr::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  /* цвет бегунка */
  border-radius: 10px;
  border: 3px solid #d1d1d1;
}

.wrapper .container__productInfo__descr h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 3em;
  color: #171313;
}

.wrapper .container__productInfo__descr__section > span:first-child {
  font-family: Inter;
  font-weight: 600;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  .wrapper .container__productInfo__descr__section {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .container__productInfo__descr__section {
    overflow: auto;
  }
}

.wrapper .container__productInfo__descr__price {
  display: flex;
  align-items: center;
  gap: 1em;
  position: absolute;
  bottom: 0;
  left: 150px;
  margin-bottom: 1em;
}

@media screen and (max-width: 870px) {
  .wrapper .container__productInfo__descr__price {
    display: none;
  }
}

@media screen and (min-width: 871px) {
  .wrapper .container__productInfo__descr__price {
    display: flex;
  }
}

.wrapper .container__productInfo__descr__price img {
  max-width: 26px;
  max-height: 26px;
  height: 100%;
}

.wrapper .container__productInfo__descr__price span {
  font-size: 1.5em;
}

.wrapper .container__productInfo__userCommunication {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.wrapper .container__productInfo__userCommunication__item {
  display: flex;
  gap: 1.5em;
  margin-top: 2em;
  height: 25px;
  align-items: center;
}

.wrapper .container__productInfo__userCommunication__item img {
  max-width: 25px;
  max-height: 25px;
}

@media screen and (max-width: 700px) {
  .wrapper .container__productInfo__userCommunication {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  .wrapper .container__productInfo__userCommunication {
    display: flex;
  }
}

.wrapper__lowScreenPriceMenu {
  background-color: #766ed3;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
}

@media screen and (max-width: 870px) {
  .wrapper__lowScreenPriceMenu {
    display: flex;
  }
}

@media screen and (min-width: 871px) {
  .wrapper__lowScreenPriceMenu {
    display: none;
  }
}

.wrapper__lowScreenPriceMenu img {
  max-width: 26px;
  max-height: 26px;
  height: 100%;
}

.wrapper__lowScreenPriceMenu span {
  font-size: 1.5em;
}

.wrapper__lowScreenComMennu {
  background-color: #766ed3;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.wrapper__lowScreenComMennu section {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .wrapper__lowScreenComMennu {
    display: flex;
  }
}

@media screen and (min-width: 681px) {
  .wrapper__lowScreenComMennu {
    display: none;
  }
}

.marginLeft2em {
  margin-left: 2em;
}

.d__flex__alignItems__center {
  display: flex;
  width: 165px;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
